<header th:fragment="header">
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img th:src="@{theme/images/icons/logo.png}" alt="IMG-LOGO" data-logofixed="theme/images/icons/logo2.png"/>
                    </a>
                </div>

                <!-- Menu -->
                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li sec:authorize="hasRole('ADMIN')">
                                <a class="btn-show-sidebar-admin trans-0-4" href="#">Admin</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/article/create}">
                                    Create Article
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/profile}">
                                    My Profile
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/logout}">
                                    Logout
                                </a>
                            </li>

                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/register}">Register</a>
                            </li>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/login}">Login</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>

                <!-- Social -->
                <div class="social flex-w flex-l-m p-r-20">
                    <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>
            </div>
        </div>
    </div>
</header>

