<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{theme/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{theme/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{theme/js/slick-custom.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/parallax100/parallax100.js}"></script>
<script type="text/javascript">
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{theme/vendor/lightbox2/js/lightbox.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes}"></script>
<script th:src="@{theme/js/map-custom.js}"></script>
<!--===============================================================================================-->
<script th:src="@{theme/js/main.js}"></script>