<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6" th:each="category : ${categories}">
                <header>
                    <h2>
                        <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>
                </header>
                <div class="col-sm-6">
                    <img style="height: 160px; width: auto;" th:src="@{'data:image/jpeg;base64,'+${category.image}}" class="img-rounded img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</main>
